body {
  overflow-y: hidden;
}

nav {
  background-color: #3498db !important;
}

.btn {
  background-color: #c0392b !important;
}

.btn:hover {
  background-color: #e74c3c !important;
}

.chat-list li.chats {
  background: #ecf0f1;
  margin-bottom: 1%;
}

.msg-form {
  bottom: 0;
  position: fixed;
  width: 80%;
}

.chats-holder {
  overflow-y: scroll;
  height: 70vh;
}

.users-holder {
  overflow-y: scroll;
  height: 80vh;
}
